.input-label {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.input-label:nth-of-type(1) {
  margin-top: 0;
}

.input {
  width: 100%;
}

.input-form {
  width: 300px;
  margin: 10px 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-button {
  margin-top: 20px;
  display: block;
}
